@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');

body, html {
  margin: 0; overflow: hidden;
  font-family: 'Mountains of Christmas', cursive;
  background: #050510; /* Very dark blue instead of pitch black */
}

canvas { position: fixed; top: 0; left: 0; }

#info {
  position: absolute; bottom: 10%; width: 100%;
  text-align: center; color: white;
  pointer-events: none;
  z-index: 10;
  text-shadow: 0 0 20px #ff0055; /* Pink glow on text */
}

h1 { font-size: 3rem; margin: 0; color: #fff; }
h2 { font-size: 5rem; margin: 0; color: #ffd700; text-transform: capitalize; }
p { font-family: sans-serif; opacity: 0.6; font-size: 0.9rem; margin-top: 10px;}